<div class="dp--cookie-check" xmlns:f="http://www.w3.org/1999/html">
    <label for="dp--cookie-require">
        <f:form.checkbox id="dp--cookie-require" class="dp--check-box" value="" disabled="disabled" checked="true" />
        <f:translate key="dpRequire" extensionName="dp_cookieconsent" />
    </label>
    <label for="dp--cookie-statistics">
        <f:form.checkbox id="dp--cookie-statistics" class="dp--check-box" checked="{settings.checkboxes.statistics}" value="" />
        <f:translate key="dpStatistik" extensionName="dp_cookieconsent" />
    </label>
    <label for="dp--cookie-marketing">
        <f:form.checkbox id="dp--cookie-marketing" class="dp--check-box" checked="{settings.checkboxes.marketing}" value="" />
        <f:translate key="dpMarketing" extensionName="dp_cookieconsent" />
    </label>
</div>
