<div class="dp--overlay-inner" data-nosnippet>
    <div class="dp--overlay-header"><f:format.raw>{{</f:format.raw>notice}}</div>
    <div class="dp--overlay-description"><f:format.raw>{{</f:format.raw>desc}}</div>
    <div class="dp--overlay-button">
        <button class="db--overlay-submit" onclick="window.DPCookieConsent.forceAccept(this)"
                data-cookieconsent="<f:format.raw>{{</f:format.raw>type}}">
        <f:format.raw>{{</f:format.raw>btn}}
        </button>
    </div>
</div>
