<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript" data-ignore="1">
    window.cookieconsent_options = {
        js:'<f:uri.resource path="JavaScript/cookieconsent.min.js" extensionName="dp_cookieconsent" />',
        css:'<f:uri.resource path="css/cookieconsent.min.css" extensionName="dp_cookieconsent" />',
        content: {
            message:'<f:translate key="message" extensionName="dp_cookieconsent" />',
            dismiss:'<f:translate key="dismiss" extensionName="dp_cookieconsent" />',
            link:'<f:translate key="link" extensionName="dp_cookieconsent" />',
            href:'<f:uri.page pageUid="{settings.url}" />',
        },
        theme: '<f:format.raw>{settings.theme}</f:format.raw>',
        position: '<f:format.raw>{settings.position}</f:format.raw>',
        dismissOnScroll: parseInt('<f:format.raw>{settings.dismissOnScroll}</f:format.raw>')||false,
        palette: {
            popup: {
                background: '<f:format.raw>{settings.barBg}</f:format.raw>',
                text: '<f:format.raw>{settings.barColor}</f:format.raw>'
            },
            button: {
                background: '<f:format.raw>{settings.btnBg}</f:format.raw>',
                text: '<f:format.raw>{settings.btnColor}</f:format.raw>',
            }
        }
    };
</script>
<script type="text/javascript" data-ignore="1" defer src="{f:uri.resource(extensionName: 'dp_cookieconsent', path:'JavaScript/cookie.min.js')}?v=9.2.6-dev"></script>
<!-- End Cookie Consent plugin -->